/* Add top padding to body to account for fixed navbar */
body {
    padding-top: 2rem; /* Adjust this to the height of the fixed navbar */
}

/* Container styling */
.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0.2rem auto;
    max-width: 65%;
}

/* Content item styling to align title and image */
.content-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: 0.2rem;
}

/* Image styling for .img-fluid and standalone images */
img, .img-fluid {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 2rem;
    margin: 1rem 0;
}

/* Specific styling for .heading-image container */
.heading-image {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

/* Title styling */
.h2_index2 {
    font-size: 2em;
    color: #333;
    margin: 1rem 0; /* Consistent margin above and below */
    text-align: center;
}

/* Mobile-specific adjustments */
@media only screen and (max-width: 480px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }
    img {
        width: 100%;
        max-width: 100%;
        border-radius: 0.5rem;
    }

    li a {
        display: block;
        font-size: medium;
        color: white;
        text-align: center;
        padding: 0.5rem;
        text-decoration: none;
    }
}

/* Link hover effect */
a:hover {
    background-color: lightgray;
    font-weight: bolder;
    text-decoration: none;
}

/* Navbar styling */
.navbar {
    min-height: 3rem;
    background-color: gainsboro;
    color: black;
}
